/* Box Model Fix*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
/* Box Model Fix*/

/*Global Styles*/
body {
    font: 14px Roboto, Helvetica, sans-serif;
    max-width: 95%;
    min-width: 800px;
    margin: 0 auto;
}

main {
    margin: 10px;
    min-width: 400px;
}

h1, h2, h3 {
    font-family: "Mina", sans-serif;
}

h1 {
    color: #0d7fc1;
    font-size: 2.75em;
    text-align: center;
    line-height: 5px;
}

h2 {
    color: white;
    background-color: #11a8ff; 
    font-size: 1.5em;
    text-align: center;
}

h3 {
    font-size: 1.25em;
    font-weight: bold;
    margin: 0;
}

h4 {
    color: #429aff;
    font-size: 1.25em;
    font-weight: normal;
    margin: 0;
}

ul {
    list-style: none;
}

li:before {
    content: "\2713\0020";
    padding-right: 10px;
    float: left;
}

a:hover {
    color: #e20f2f;
}

/* Header */

nav {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    height: 40px;
}

nav a {
    color: gray;
    text-transform: uppercase;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    margin-bottom: 20px;
}

header h1 {
    margin-top: 70px;
}

header h2 {
    color: gray;
    background-color: white;
    font-size: 1.5em;
    line-height: 5px;
}

/*Body*/

main p, footer p, footer a, li:before {
    font-size: 1em;
    line-height: 20px;
}

.year {
    font-size: 1em;
    text-align: right;
    margin-bottom: 0;
    padding: 0;
}

h4 + .year, p ~ .year {
    margin-top: 30px;
}

.year + h3 {
    line-height: 90%;
}

div + h3 {
    
}

/* Footer */

footer {
    text-align: center;
}

footer p {
    margin-top: 0px;
    margin-bottom: 0px;
}




