/* Box Model Fix*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
/* Box Model Fix*/

/*Global Styles*/
body {
    font: 14px Roboto, Helvetica, sans-serif;
    max-width: 90%;
    min-width: 400px;
    margin: 0 auto;
}

main {
    margin: 10px;
}

h1, h2, h3 {
    font-family: "Mina", sans-serif;
}

h1 {
    color: #0d7fc1;
    font-size: 2.75em;
    text-align: center;
    line-height: 5px;
}

h2 {
    color: white;
    background-color: #11a8ff; 
    font-size: 1.5em;
    text-align: center;
}

h3 {
    font-size: 1.25em;
    font-weight: bold;
    margin: 0;
}

h4 {
    color: #429aff;
    font-size: 1.25em;
    font-weight: normal;
    margin: 0;
}

ul {
    list-style: none;
}

/*Top Header*/

header h2 {
    color: gray;
    background-color: white;
    font-size: 1.5em;
    line-height: 5px;
}

/*Side bar*/

#sidebar {
    float: left;
    width: 25%;
    border: 10px solid white;
    overflow: hidden;
    text-overflow: ellipsis;
}

#sidebar #contact {
    background-color: lightgray;
    font-size: 1em;
    text-align: center;
    padding: 1px;
}

#sidebar #skill h2 {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

#sidebar #skill h3 {
    background-color: #e3e7e8;
    font-size: 1em;
    text-align: justify;
}

#sidebar #skill section p {
    font-size: 1em;
    margin: 3px 0px;
}

/*Body*/

main, footer {
    margin-left: 25%;
}

main p, footer p, footer a, li:before {
    font-size: 1em;
    line-height: 20px;
}

.year {
    font-size: 1em;
    text-align: right;
    margin-bottom: 0;
    padding: 0;
}

/* Footer */

footer {
    text-align: center;
}

footer p {
    margin-top: 0px;
    margin-bottom: 0px;
}




